@import "tailwindcss";

@layer base {
  html,
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  input,
  textarea,
  [contenteditable="true"] {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
  }
}

@theme {
  /*primary*/
  --color-primary-100: #f7efee;
  --color-primary-200: #e8cecb;
  --color-primary-300: #d79f96;
  --color-primary-400: #be7364;
  --color-primary-500: #8d5449;
  --color-primary-600: #5f372f;
  --color-primary-700: #351c17;

  /*secondary*/
  --color-secondary-100: #f4eae8;
  --color-secondary-200: #dfbcb7;
  --color-secondary-300: #cf8c81;
  --color-secondary-400: #a8675b;
  --color-secondary-500: #784940;
  --color-secondary-600: #4c2c26;
  --color-secondary-700: #24120f;

  /*gray*/
  --color-gray-100: #f1f0f0;
  --color-gray-200: #d6d3d3;
  --color-gray-300: #d6d3d3;
  --color-gray-400: #8e8585;
  --color-gray-500: #6a6161;
  --color-gray-600: #464040;
  --color-gray-700: #252222;
}

@layer components {
  /* text style */
  .title-lg {
    @apply text-5xl font-semibold leading-[1.2];
  }
  .title-md {
    @apply text-4xl font-semibold leading-[1.2];
  }
  .title-sm {
    @apply text-2xl font-semibold leading-[1.3];
  }
  .body-lg {
    @apply text-lg font-semibold leading-[1.4];
  }
  .body-md {
    @apply text-base font-normal leading-[1.4];
  }
  .body-sm {
    @apply text-sm font-normal leading-[1.4];
  }
  .caption {
    @apply text-xs font-normal leading-[1.4];
  }

  /* 간단한 컴포넌트 */
  .btn {
    @apply px-5 py-2.5 min-w-30 rounded-xl bg-primary-600 text-white text-center whitespace-nowrap cursor-pointer;
  }
}
